*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header{
   
    height: 50px;
    width: 100%;
    text-align: center;;
    /* background-color: #dc8f12fa; */
    background-color: black;

    
}

.header h1 {

    text-transform: uppercase; 
    color: white;
    font-size: 32px;
    padding-top: 6px;
}.navbar{
    
    display: flex;
    flex: 3;
    height: 70px;
    width:100%;
}


.left{
    text-align: left;
    flex: 1;
}



.left ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 15px 13px;
    font-size: 23px;
    cursor: pointer;
}
.left ul li a{
    color: rgb(79, 77, 77);
    text-decoration: none;
}

.middle{
    text-align: center;
    flex: 1;
    padding: 15px 0px;
    /* font-family: 'Pacifico'; */
    color: #0ebc0e;
    font-family: 'Lemon';
    /* font-family: 'Salsa', cursive; */
}

.right{
    flex: 1;
    text-align: right;
    padding: 15px 0px;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 8px;
    display: inline-block;
    border: none;
    background: #00fA9A;
    transition: all 0.3s ease;
    margin: 0px 12px;
    position: relative;
    cursor: pointer;
}


.btn:hover{
    cursor: pointer;
    transform: scale(1.05);
    color: #0bf69c;
    border: 1px solid rgba(12, 222, 113, 0.872);
    background: none;
    box-shadow: 0 0 20px #00fA9A;
}

.container{
    background-image: url('/img/dish5.png');
    background-position: center;
    background-size: cover;
    height: 680px;
    width: 100%;
    padding-top: 114px;
}

img{
    /* display: block; */
    width: 100%; 
    height: auto;

}

.form{
    color: rgb(66, 65, 65);
    text-align: center;
    top: 45px;
    height: 422px;
    width: 45%;
    background-color: white;
    margin-left: 700px;
    /* margin-top: 45px; */
    animation:backInRight; 
    animation-duration: 2s;
}

.form h1{
    font-size: 38px;
    padding: 40px 12px;
    color: rgb(14, 112, 14);
    

}
.form h3{
    font-size: 27px;
    color: #15ae73;
}

input{
    margin: 12px;
    padding: 12px;
    font-size: 20px;
    border:1px solid #00fA9A;
    
}
#BTN{
    margin-top: 14px;
    padding: 16px 19px;
    font-size: 21px;
    width: 86%;
    font-weight: bold;
    border-radius: 0;
    animation: tada; 
    animation-delay: 2s;
    animation-duration: 2s;
    
    
}

.form p{
    padding: 12px;
    font-size: 19px;

}
.form p span{
    color: #00fA9A;
    cursor: pointer;
}

#help{
    font-size: 20px;
    margin: 40px 23px;
    border-radius: 31px;
    text-transform: capitalize;
}

.service{
    color: rgb(69, 68, 68);
    height: 500px;
    width: 100%;

}

/* .service::before{
    content: "";
    position: absolute;
    height: 500px;
    width: 100%;
    background-image: url('/img/dish2.jpg');
    z-index: -1;
    opacity: 0.2;
    
} */
.service h1{
    text-align: center;
    color: #0ebc0e;
    margin-top: 43px;
    font-size: 40px;
    font-weight: bold;

}

.work{
    display: flex;
    justify-content: center;
    align-items: center;

}

.path{
    text-align: center;
    margin: 67px 23px;
    width: 29%;
    padding: 0px 50px;
}

.path h4 
{
    margin-top: 15px;
    font-size: 25px;
}

.path p{
    font-size: 20px;
    margin-top: 5px;
}



@media(max-width:1275px){
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        width: 50%;
        margin-left: 0px;
        border: 2px solid #00fA9A;
    }
    input{
        width: 40%;
    }

    .path{
        margin: 23px 23px;
        width: 90%;
        padding: 0px 12px;
    }
}

@media(max-width:960px){
    #work, #btn{
        display: none;
    }

    .work{
        flex-direction: column;
    }
  
    .form h1 {
        font-size: 28px;
        padding: 23px 12px;
    }

    .form h3 {
        font-size: 24px;

    }

    input{
        width: 86%;
    }
    #help{
        position: fixed;
        margin-left: 700px;
        margin-top: 524px;
    }

}

@media(max-width:728px){
    .form{
        
        width: 70%;
    }
    .btn{
        padding: 8px 11px
    }

    .header h1{
        font-size: 26px;
    }
    .left ul li a{
        font-size: 19px;
    }

    #help{
        position: fixed;
        margin-left: 350px;
        margin-top: 334px;
    }

}
@media(max-width:450px){
   
    .form{
        width: 92%;
    }
    .header h1{
        font-size: 20px;
    }
    #help{
        margin-left: 290px;
        margin-top: 234px;
    }
    .form h1 {
        font-size: 20px;
    }
    .form h3{
        font-size: 20px;
    }
}